html,
body {
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
  overflow: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input, textarea, select {
  border: 1px solid Silver;
  border-radius: 4px;
  padding: 0.65rem 0.75rem;
  width: 100%;
}

select {
  width: auto;
}

input:hover, textarea:hover {
  border: 1px solid DarkGray;
}

input:focus, textarea:focus {
  outline: none !important;
  border:  1px solid steelblue;
  box-shadow: 0 0 0 1px steelblue;
}

button {
  border-radius: 4px;
  background: SteelBlue;
  padding: 10px 22px;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  transition: all 0.2s ease-in-out;
  background: white;
  color: SteelBlue;
  box-shadow: 0 0 0 1px steelblue;
}

.main {
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (max-width: 768px) {
  .articleContainer {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .articleContainer {
    width: 50%;
  }
}

.articlesGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.articleCol {
  flex: 0 0 auto;
  width: 16.666666%;
  margin-top: 30px;
  padding: 10px;
}

.articleContainer {
  display: block;
  margin: auto;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.quoteContainer {
  font-style: italic;
  margin: 30px;
}

.inQuote {
  font-size: 14px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col2 {
  width: 50%;
  flex: 0 0 auto;
  margin-bottom: 0;
}

.col3 {
  width: 33.3%;
  flex: 0 0 auto;
}

.point {
  color: darkslateblue;
}

.link {
  text-decoration-line: underline;
}

.inText {
  font-weight: bold;
  color: darkred;
  text-decoration-color: darkred;
}

.linkToc {
  font-size: 16px;
}

.linkOwn {
  color: cornflowerblue;
  text-decoration-color: cornflowerblue;
}

.linkOut {
  color: darkslategray;
  text-decoration-color: darkslategray;
}

.link:hover {
  color: blueviolet;
  text-decoration-line: none;
}

.mainText {
  font-size: 22px;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 100px;
}

.alertContainer {
  border-radius: 6px;
  color: white;
  padding: 10px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alertSuccess {
  background: darkgreen;
}

.alertErr {
  background: darkred;
}

.alertClose {
  padding-left: 10px;
  cursor: pointer;
  color: white;
}

.controlItem {
  font-size: 30px;
  margin-right: 10px;
}

.controlItemActive {
  font-size: 30px;
  margin-right: 10px;
  color: cornflowerblue;
}

.controlItem:hover {
  color: darkslateblue;
  cursor: pointer;
}


@media screen and (max-width: 1640px) {
  .articleCol {
    width: 20%;
  }
}

@media screen and (max-width: 1320px) {
  .articleCol {
    width: 25%;
  }
}

@media screen and (max-width: 1135px) {
  .articleCol {
    width: 33.333333%;
  }

  .col2 {
    width: 100%;
  }

  .col3 {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .articleCol {
    width: 50%;
  }
}

@media screen and (max-width: 710px) {
  .articleCol {
    width: 100%;
  }
}