html,
body {
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
  overflow: auto;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (max-width: 768px) {
  .articleContainer {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .articleContainer {
    width: 50%;
  }
}


.articleContainer {
  display: block;
  margin: auto;
  word-spacing: 1.5px;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.quoteContainer {
  font-style: italic;
  margin: 30px;
}

.point {
  color: darkslateblue;
}

.link {
  text-decoration-line: underline;
}

.inText {
  font-weight: bold;
  color: darkred;
  text-decoration-color: darkred;
}

.linkOwn {
  color: cornflowerblue;
  text-decoration-color: cornflowerblue;
}

.linkOut {
  color: darkslategray;
  text-decoration-color: darkslategray;
}

.link:hover {
  color: blueviolet;
  text-decoration-line: none;
}