.container {
  display: grid;
  justify-items: center;
  text-align: center;
}

.title {
  font-size: 50px;
}

.sbuTitle {
  font-size: 30px;
  font-weight: normal;
}

.mainText {
  font-size: 22px;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 100px;
}